/* Footer.css */
.footer {
    background-color: #1a1819eb;
    color: rgb(237, 25, 25);
    padding: 10px;
    text-align: center;
  }
  
  .social-icons {
    font-size: 15px;
    margin-bottom: 5px;
    color: rgb(248, 43, 43);
  }
  
  .social-icons a {
    color: rgb(252, 16, 16);
    margin: 0 10px;
    text-decoration: none;
  }
  
  .copyright {
    font-size: 15px;
  }
  